<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
<mat-card class="todocard">
  <mat-card-header>
    <mat-card-title><h1>Events</h1></mat-card-title>
  </mat-card-header>
  <br>
  <br>
    <mat-card-content style="margin-top:5rem;">
	<mat-list role="list">

		<mat-toolbar *ngFor="let item of todoList | async;" class="todoitem" style="background-color:#087C9E;">
			<mat-toolbar-row>

				<span [ngClass]="{'done-true': item.isDone, 'done-false': !item.isDone}">{{item.content}}</span>
				<span class="example-spacer"></span>
				<mat-icon (click)="markItemAsDone(item)" class="btn" *ngIf="!item.isDone"> check</mat-icon>
				<mat-icon (click)="markItemAsNotDone(item)" class="btn" *ngIf="item.isDone"> undo</mat-icon>

				<mat-icon (click)="editItem(item)" class="btn"> edit</mat-icon>
				<mat-icon (click)="deleteItem(item.id)" class="btn">delete</mat-icon>
			</mat-toolbar-row>
		</mat-toolbar>

	</mat-list>
  <br>
	<form class="example-form">
		<mat-form-field class="full-width">
			<input matInput placeholder="Enter Details!" class="textareafull" [(ngModel)]="inputValue.content" name="inputValue">
		</mat-form-field>
		<span class="example-spacer"></span>
		<a  mat-fab color="dark" mat-button (click)="addNewItem()" *ngIf="!editValue"><mat-icon class="white-icon">add</mat-icon></a>
		<a  mat-fab color="dark" mat-button (click)="saveNewItem()" *ngIf="editValue"><mat-icon class="white-icon">edit</mat-icon></a>
	</form>
</mat-card-content>
<mat-card-actions>
  <div class="button-row">
      <a mat-fab color="dark" [routerLink]="['/home']" style="margin-left:45rem;"><mat-icon class="white-icon">home</mat-icon></a>
  </div>
</mat-card-actions>
</mat-card>
