
<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title><h1>HR Directory</h1></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <button mat-icon-button disabled></button>
        <h2>{{node.item}}</h2>
      </mat-tree-node>
      <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
        <button mat-icon-button
                [attr.aria-label]="'toggle ' + node.filename" matTreeNodeToggle>
          <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <h2>{{node.item}}</h2>
        <mat-progress-bar *ngIf="node.isLoading"
                          mode="indeterminate"
                          class="example-tree-progress-bar"></mat-progress-bar>
      </mat-tree-node>
    </mat-tree>
  </mat-card-content>
  <mat-card-actions>
        <a mat-fab color="dark" [routerLink]="['/home']"><mat-icon class="white-icon">home</mat-icon></a>
  </mat-card-actions>
</mat-card>
